@let tableData = data();
@defer(when data()){
  <div class="container">

  <mat-table  #table
              class="mat-table"
              [dataSource]="tableData!">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
      <div class="pokemon-name" (click)="showPokemonData(element.id)">{{element.name}}</div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator
    [length]="paginatorLength()"
    [pageSize]="limit"
    (page)="updatePage($event)"
  ></mat-paginator>
  </div>
} @loading (after 100ms; minimum 100ms){
  <div>Loading</div>
}

