@let tableData = data();
@if (tableData){

  <div class="container"
      >
    <cdk-virtual-scroll-viewport
      itemSize="48"
      class="virtual-scroll-viewport"
      minBufferPx="200"
      maxBufferPx="400"

    >
  <mat-table  #table
              class="mat-table"
              [dataSource]="tableData">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
      <div class="pokemon-name" (click)="showPokemonData(element.id)">{{element.name}}</div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
    </cdk-virtual-scroll-viewport>
  </div>

}

